Source: fonts-aurulents-sans
Section: x11
Priority: optional
Maintainer: BlankOn Developers <BlankOn-Dev@googlegroups.com>
Build-Depends: cdbs, debhelper (>= 5.0.0)
Standards-Version: 3.9.4
Homepage: http://fontsquirrel.com/fonts/Aurulent-Sans

Package: fonts-aurulents-sans
Architecture: all
Depends: defoma, fontconfig
Description: Aurulent Sans is designed to be used as an interface font on free graphics servers such as X.org. 
 Aurulent is a work in progress; comments are welcome. Aurulent Sans is licensed under the Open Font License (explicit information is embedded in each OTF).
